<h1>Prediksi Thrust</h1>

<label for="fname">Genshaftx</label><br />
<input type="text" id="g" name="fname" /><br />
<label for="lname">TEMPBEARINGMETAL</label><br />
<input type="text" id="t" name="lname" /><br />
<br />
<button onclick="onClick()">Search 1</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function onClick() {
        var g = document.getElementById("g").value;
        var t = document.getElementById("t").value;
        console.log("gen ",g," temp",t);
        var settings = {
  "url": "http://localhost:5000/predict?gen=123&temp=99",
  "method": "GET",
  "timeout": 0,
};

$.ajax(settings).done(function (response) {
  console.log(response);
});
    }
</script>
